    <h1 class="text-center blue"><%= @push.name %></h1>
    
    <br>

    <div class="larger">
      <p>
        <span class="sans-serif"><%= @push.description %></span>
      </p>
      <p>
        <span class="sans-serif">Owner<% if current_user.email != "sbhenrichs@gmail.com" %> (you):<% else %>:<% end %></span>
        <span class="sans-serif"><%= current_user.email %></span>
      </p>
      <p>
        <%= link_to 'Back', pushes_path, class: "sans-serif" %>
      </p>
    </div>
    
    <div class="btn-danger">
      <%= link_to "End Campaign", push_path(@push), class: "white", method: :delete, data: { confirm: "When you end a campaign, you will be paid, but you won't recieve any more money from your sales. Are you sure you want to do this?"} %>
    </div>