<%= render 'sidebar' %>
<div class="container-offers">
  
  <div class="fifty">
    <h2>OFFERS</h2>
  </div>
    
    <div class="space"></div>

    <% @offers.each do |offer| %>
      <% if offer.place == 2 %>
        <% if Offer.where(name: offer.name).count >= 2 %>
        <% else %>
          <div class="offer">
            
            <div class="offer-header"> 
              <h3 class="text-center"><%= offer.title %></h3>
            </div>

            <div class="offer-body">
              <br>
              <span class="font black"><%= offer.name %></span>
              <br>
              <span class="font black"><%= truncate(offer.description, length: 40) %></span>
              <br>
              <span class="font black"><%= offer.url %></span>
              <br>
              <span class="font black"><%= offer.product %></span>
              <br>
              <span class="font black"><%= offer.place %></span>
              <br>
              <% if current_user.try(:email) == "sbhenrichs@gmail.com" || "camblackwell2@gmail.com" %>
                <%= link_to 'More Info', offer, class: "font" %>&nbsp;&nbsp;
                <%= link_to 'Update', edit_offer_path(offer), class: "font" %>&nbsp;&nbsp;
                <%= link_to 'Delete', offer, class: "font", method: :delete, data: { confirm: 'Are you sure?' } %>&nbsp;&nbsp;
              <% else %>
                <%= link_to 'More Info', offer, class: "font light" %>
              <% end %>
            </div>

            </div>
        <% end %>
      <% else %>
            <div class="offer">
            
            <div class="offer-header"> 
              <h3 class="text-center"><%= offer.title %></h3>
            </div>

            <div class="offer-body">
              <br>
              <span class="font black"><%= offer.name %></span>
              <br>
              <br>
              <span class="font black"><%= truncate(offer.description, length: 40) %></span>
              <br>
              <br>
              <span class="font black"><%= truncate(offer.url, length: 30) %></span>
              <br>
              <br>
              <% if current_user.try(:email) == "sbhenrichs@gmail.com" || "camblackwell2@gmail.com" %>
                <%= link_to 'More Info', offer, class: "font" %>&nbsp;&nbsp;
                <%= link_to 'Update', edit_offer_path(offer), class: "font" %>&nbsp;&nbsp;
                <%= link_to 'Delete', offer, class: "font", method: :delete, data: { confirm: 'Are you sure?' } %>&nbsp;&nbsp;
              <% else %>
                <%= link_to 'More Info', offer, class: "font light" %>
              <% end %>
            </div>

            </div>
      <% end %>
    <% end %>

<br>
<br>
  <div class="space">
    <% if current_user.email == "sbhenrichs@gmail.com" %>
      <div class="new-offer"><%= link_to 'New Offer', new_offer_path, class: "font" %></div>
      <br>
      <br>
    <% else %>
    <% end %>
  </div>

</div>
