<h1 class="blue text-center" id="sac">Start a campaign.</h1>
    <% @offers.each do |offer| %>
      <% if offer.place == 2 %>
        <% if Offer.where(name: offer.name).count >= 2 %>
        <% end %>
      <% else %>
            <div class="offer">
              <h3 class="text-center"><%= link_to offer.title, offer, class: "title-link" %></h3>
              <br>
              <div class="img-con-index">
                <img src="<%= offer.iu %>" alt="">
              </div>
              <style>
                img {
                  max-height: 200px;
                }
                .img-con-index {
                  height: 200px;
                  width: 100%;
                  display: flex;
                  justify-content: center;
                  align-items: center;
                }
              </style>
              <br>
              <h4><%= truncate(offer.description, :length => 250) %></h4>
              <br>
              <div class="moreinfo">
                <h4><%= link_to 'More Info', offer, class: "text-center btn-default btn-reg" %></h4>
              </div>
            </div>
      <% end %>
    <% end %>
<br>
<br>
  <div class="space">
    <% if current_user.email == "sbhenrichs@gmail.com" %>
      <div class="btn-center">
        <div class="new-offer"><%= link_to 'New Offer', new_offer_path, class: "btn-default btn-lg" %></div>
      </div>
      <br>
      <br>
    <% else %>
    <% end %>
  </div>

</div>
