<%= render 'sidebar' %>

<div class="container-offers">

  <p id="notice"><%= notice %></p>

  <p>
    <strong>Title:</strong>
    <%= @offer.title %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= @offer.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= @offer.description %>
  </p>

  <p>
    <strong>Url:</strong>
    <%= @offer.url %>
  </p>

  <p>
    <strong>Product:</strong>
    <%= @offer.product %>
  </p>

  <p>
    <strong>Place:</strong>
    <%= @offer.place %>
  </p>

  <%= link_to 'Edit', edit_offer_path(@offer) %> |
  <%= link_to 'Back', offers_path %>
  
</div>