<div class="container-offers font black">

  <br>
  <h1 class="text-center blue"><%= @offer.name %></h1>
  <br>
  <div class="show-image"></div>
  <style media="screen">
     .show-image {
      max-width: 100%;
      height: 500px;
      border-radius: 5px;
      overflow: hidden;
      background-image: url(<%= @offer.image %>);
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      padding: 25px;
      margin-top: 50px;
    }
  </style>

  <br>

  <h4 class="description"><%= @offer.description %></h4>
  <br>
  <h4><a href="<%= @offer.url %>" class="link">View product in store.</a></h4>
  <% if current_user.try(:email) == "sbhenrichs@gmail.com" %>
    <h4><%= link_to 'Edit', edit_offer_path(@offer), class: "link" %></h4>
    <h4><%= link_to 'Back', offers_path, class: "link" %></h4>
  <% else %>
     <h4><%= link_to 'Back', offers_path, class: "link" %></h4>
  <% end %>
  <br>
  
  <% if current_user.try(:email) == "sbhenrichs@gmail.com" %>
  <div class="text-center moreinfo">
    <%= form_for @offer, method: :delete, :html => { id: "offer" }, :remote => true do |f| %>
      <%= f.submit :"Delete offer.", class: "offer-delete-submit btn-danger text-center" %>
    <% end %>
  </div>
  </div>
  <% end %>
  
    <br>
  
  <%= form_for :push, url: pushes_path, :html => { id: "push" } do |f| %>
    <%= f.hidden_field :name, value: @offer.name %>
    <%= f.hidden_field :description, value: @offer.description %>
    <%= f.hidden_field :date, value: Date.today.to_s %>
    <%= f.hidden_field :url, value: @offer.url %>
    <%= f.hidden_field :owner, value: current_user.try(:email) %>
    <div class="text-center moreinfo">
      <%= f.submit :"Start Campaign", class: "btn-default text-center", id: "sc" %>
    </div>
  <% end %>
  
</div>