<!DOCTYPE html>
<html>
<head>
  <title>BlogForce3</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" href="custom.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700" rel="stylesheet">
  <link rel="stylesheet" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
</head>
<body>

<%= render '/layouts/navbar' %>
<% if user_signed_in? %>
	<style>
		.container {
			margin-left: 250px;
			margin-top: 110px;
			clear: both;
			width: calc(100vw - 300px);
		}
	</style>
<%= render '/layouts/sidebar' %>
<% end %>
<div class="container">
<%= yield %>
</div>

</body>
</html>
