<!DOCTYPE html>
<html>
<head>
  <title>BlogForce3</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" href="custom.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://fonts.googleapis.com/css?family=Lato:300,400" rel="stylesheet">
  <link rel="stylesheet" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
</head>
<body>

<%= render '/layouts/navbar' %>
<% if user_signed_in? %>
	<style>
		.container {
			position: absolute;
			top: 100px;
			left: 275px;
			z-index: -99;
			width: calc(100vw - 325px);

		}
		.social-con {
			margin-left: 15%;
			margin-right: 15%;
		}
	</style>
<%= render '/layouts/sidebar' %>
<% else %>
	<style>
		.container {
			margin-top: 125px;
			width: 85%;
			margin-left: 7.5%;
		}
	</style>
<% end %>
<div class="container">
<%= yield %>
</div>

</body>
</html>
